<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:text="${hello}">nihao</div>
    <div th:utext="${hello}">nihao</div>
<hr/>
<br/>
<h4>
    <table>
        <tr th:each="user : ${users}">
            <td th:text="${user}"/>
        </tr>
    </table>
</h4>
</body>
<script src="http://assets.zhihuishu.com/jquery/1.8.3/jquery.min.js"></script>
<script src="/assert/list.js" type="text/javascript"></script>
</html>